
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Hero Block Styles */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    min-height: 100vh; /* Ensure hero block takes full viewport height */
    background-image: linear-gradient(90deg, rgba(7, 9, 47, 0.6), rgba(5, 44, 83, 0.6)); /* Gradient overlay */
    color: white;
}

/* Hero Text Container */
.hero-text-container {
    position: relative;
    z-index: 1;
    animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.hero-text-container h1, .hero-text-container h2 {
    line-height: 1.2;
    color: white;
}

.hero-text-container h1 {
    margin-bottom: 24px;
    font-size: calc(var(--fs-xxxl) * 1.5);
    letter-spacing: -4px;
    animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.hero-text-container h2 {
    font-weight: normal;
    font-size: var(--fs-xl);
    text-transform: uppercase;
    animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* Background Video */
.hero-bg-media {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.hero-bg-media video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Overlay for Tint */
.bd-overly {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Tinted overlay */
    z-index: 1;
}

/* Section Styles */
main {
    padding: 0 10%;
}

section {
    padding: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    header {
        min-height: 80vh;
    }

    .hero-text-container h1 {
        font-size: 4rem;
    }

    .hero-text-container h2 {
        font-size: 2rem;
    }

    section {
        padding: 20px;
    }
}

@media (min-width: 768px) {
    header {
        min-height: 100vh;
    }

    .hero-text-container h1 {
        font-size: 6rem;
    }

    .hero-text-container h2 {
        font-size: 3rem;
    }

    section {
        padding: 40px;
    }
}

/* Google Fonts and Fluid Font Sizes */
:root {
    --fs-xxxl: 6rem;
    --fs-xl: 3rem;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
}

h3, a {
    font-family: 'Open Sans', sans-serif;
}

/* Fluid font sizes */
h1 {
    font-size: var(--fs-xxxl);
}

h2 {
    font-size: var(--fs-xl);
}

h3 {
    font-size: calc(var(--fs-xl) * 0.8);
}

a {
    font-size: calc(var(--fs-xl) * 0.8);
}

/* Animations for text */
@keyframes slide-in-top {
    0% {
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
